---
import {
  type BlogPostSkeleton,
  contentfulClient,
  type BlogPost,
} from '../../lib/contentful';
import Layout from '../../components/Layout.astro';
import Main from '../../components/Main.astro';
import ContentWrapper from '../../components/ContentWrapper.astro';
import CategoryList from '../../components/CategoryList.astro';
import PostList from '../../components/PostList.astro';
import type { GetStaticPathsOptions, Page } from 'astro';
import PageNav from '../../components/PageNav.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const entries = await contentfulClient.getEntries<BlogPostSkeleton>({
    content_type: 'blogPost',
    // @ts-ignore
    order: '-fields.date',
  });
  const paths = paginate(entries.items, { pageSize: 12 });
  return paths.map((page, i) => ({
    params: {
      page: String(i + 1),
    },
    props: {
      ...page.props,
      pageContents: page.props.page.data.map((post) => ({
        ...post.fields,
      })),
    },
  }));
}
type Props = {
  page: Page<BlogPostSkeleton>;
  totalPages: number;
  posts: Page<BlogPostSkeleton>;
  pageContents: BlogPost[];
};

const { page, totalPages, posts, pageContents } = Astro.props;
---

<Layout>
  <div class="py-12">
    <h1 class="text-center text-4xl">記事一覧</h1>
  </div>
  <ContentWrapper>
    <Main>
      <div
        class="p-4 rounded-xl shadow-[0px_0px_8px_2px_rgba(0,0,0,0.15)] dark:shadow-[0px_0px_8px_2px_rgba(255,255,255,0.15)]"
      >
        <PostList posts={pageContents} />
        <div class="flex justify-center mt-8">
          <PageNav
            currentPage={page.currentPage}
            lastPage={page.lastPage}
            hrefPrefix="/pages/"
          />
        </div>
      </div>
    </Main>
    <CategoryList />
  </ContentWrapper>
</Layout>
