/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

ul.__md-ul {
  list-style-type: disc !important;
  padding-left: 2em !important;
}

ul.__md-ul > li > ul {
  list-style-type: circle !important;
}

ul.__md-ul > li > ul > li > ul {
  list-style-type: square !important;
}

ol.__md-ol {
  list-style-type: decimal !important;
  padding-left: 2em !important;
}

ol.__md-ol > li > ol {
  list-style-type: upper-roman !important;
}

ol.__md-ol > li > ol > li > ol {
  list-style-type: lower-alpha !important;
}
