---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { type BlogPostSkeleton, contentfulClient } from '../lib/contentful';
import Layout from '../components/Layout.astro';

const entries = await contentfulClient.getEntries<BlogPostSkeleton, string>({
  content_type: 'blogPost',
});
const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    date: new Date(date).toLocaleDateString(),
    description,
    slug,
  };
});
---

<Layout>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={
            `/posts/${post.slug}`
          }>{post.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
