---
import { twMerge } from 'tailwind-merge';
import clsx from 'clsx';
import hljs from 'highlight.js';
import 'highlight.js/styles/github-dark-dimmed.css';

interface Props {
  lang: string;
  code: string;
}

const { lang: origLang, code: origCode } = Astro.props;

const [lang, title] = origLang.split(':');
const code = lang
  ? hljs.highlight(lang, origCode).value
  : hljs.highlight('plaintext', origCode).value;

const preClasses = twMerge(
  `language-${lang} text-sm bg-neutral-700 dark:bg-neutral-800 text-neutral-content p-4 shadow-lg overflow-x-auto`,
  clsx({
    'rounded-b-xl': title,
    'rounded-e-xl': title,
    'rounded-xl': !title,
  }),
);
---

<div class="my-6">
  {
    title && (
      <span class="bg-neutral text-neutral-content px-3 py-1 rounded-t-xl shadow-xl">
        {title}
      </span>
    )
  }

  <pre class={preClasses}><code set:html={code} /></pre>
</div>
