---
import { twMerge } from 'tailwind-merge';

interface Props {
  className?: string;
  href: string;
}

const props = Astro.props;

const cls = twMerge(
  'text-info hover:underline',
  props.href.startsWith('http') ? 'break-words' : '',
  props.className,
);
---

<a class={cls} {...props} target="_blank"><slot /></a>
