---
import { twMerge } from 'tailwind-merge';

interface Props {
  className?: string;
  href: string;
  ['data-footnote-ref']?: string;
  ['data-footnote-backref']?: string;
}

const props = Astro.props;

const cls = twMerge(
  'text-info hover:underline',
  props.href.startsWith('http') ? 'break-words' : '',
  props.className,
);

const isFootnote = props['data-footnote-ref'] !== undefined;
const isFootnoteBack = props['data-footnote-backref'] !== undefined;
---

<a
  class={cls}
  {...props}
  target={isFootnote || isFootnoteBack ? undefined : '_blank'}
>
  {isFootnote && <slot />}
  {isFootnoteBack && <>⮐</>}
  {!isFootnote && !isFootnoteBack && <slot />}
</a>
