---
import {
  CategorySkeleton,
  TagSkeleton,
  contentfulClient,
} from '../lib/contentful';
import Tag from './Tag.astro';

const tags = await contentfulClient.getEntries<TagSkeleton>({
  content_type: 'blogTag',
});
const categories = await contentfulClient.getEntries<TagSkeleton>({
  content_type: 'blogCategory',
  // @ts-ignore
  order: 'fields.sort',
});

const menuItems = categories.items.map((category) => ({
  category,
  tags: tags.items
    .filter(
      (tag) =>
        (tag.fields.parentCategory as CategorySkeleton).fields.slug ===
        category.fields.slug,
    )
    .map((tag) => ({
      title: tag.fields.title,
      slug: tag.fields.slug,
    })),
}));

type Props = {
  forceBottom?: boolean;
};

const { forceBottom = false } = Astro.props;
const bottomOuterCls = 'w-full';
const normalOuterCls = 'w-full xl:w-auto xl:max-w-none';
const bottomInnerCls =
  'flex flex-col gap-4 bg-base-200 h-fit p-4 mt-8 rounded-xl shadow-[0px_0px_8px_2px_rgba(0,0,0,0.15)] dark:shadow-[0px_0px_8px_2px_rgba(255,255,255,0.15)]';
const normalInnerCls =
  'flex flex-col gap-4 bg-base-200 h-fit p-4 mt-8 xl:mt-0 xl:ml-4 xl:w-60 2xl:w-80 rounded-xl shadow-[0px_0px_8px_2px_rgba(0,0,0,0.15)] dark:shadow-[0px_0px_8px_2px_rgba(255,255,255,0.15)]';
---

<div class={forceBottom ? bottomOuterCls : normalOuterCls}>
  <div class={forceBottom ? bottomInnerCls : normalInnerCls}>
    <span class="text-xl text-center">カテゴリー</span>
    {
      menuItems.map((item) => (
        <div>
          <span class="text-lg my-2">{item.category.fields.title}</span>
          <ul class="flex gap-2 flex-wrap">
            {item.tags.map((tag) => (
              <li>
                <Tag href={`/tags/${tag.slug}`}>{tag.title}</Tag>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>
