---
import { Image } from 'astro:assets';
import icon from '../images/icon.png';
import { SITE_TITLE } from '../consts';
import ThemeButton from './ThemeButton';
---

<header class="w-full bg-base-200">
  <nav class="navbar px-4 max-w-4xl mx-auto">
    <a href="/" class="flex-1">
      <div class="w-10">
      <Image src={icon} alt="ろぐみろぐ" width={800} />
      </div>
      <h2 class="text-2xl pl-2">
        {SITE_TITLE}
      </h2>
    </a>
    <div>
      <ul class="menu menu-horizontal flex rounded-box">
        <li>
          <a href="https://seelog.me/" target="_blank">About me</a>
        </li>
      </ul>
      <ThemeButton client:idle />
    </div>
  </nav>
</header>
