---
import type { BlogPost } from '../lib/contentful';

interface Props {
  posts: BlogPost[];
}

const props = Astro.props;
---

<div class="">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8 w-full">
    {
      props.posts.map((post) => {
        return (
          <a href={`/posts/${post.slug}`} class="flex flex-col justify-between h-full">
            <div class="flex flex-col bg-base-100 px-8 py-4 rounded-xl h-full hover:bg-base-100/50 transition-colors duration-200 ease-in-out outline outline-1 outline-base-content/20 hover:outline-accent">
              <div class="mb-4 border-b border-primary">
                <span class="text-xl">{post.title}</span>
              </div>
              <div class="inline-block relative w-full before:content-[''] before:block before:pt-[100%]">
                <img
                  src={String(post.image.fields.file?.url ?? '')}
                  alt={String(post.image.fields.description ?? '')}
                  class="absolute w-full h-full top-0 left-0 object-cover"
                />
              </div>
              <div class="pt-4">{post.description}</div>
              <div class="flex flex-1 mt-2 items-end justify-end">
                <span>
                  {new Date(String(post.date)).toLocaleDateString('ja-JP', {
                    timeZone: 'Asia/Tokyo',
                  })}
                </span>
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
</div>
